/* -------------------------------------------- Allgemeines CSS -------------------------------------------- */
body{
  font-family: Arial;
  background: #e9d6bd;
}
a{
  color: #2d3fc4;
}
.time{
  font-size: 0.8em;
}
/* -------------------------------------------- CSS für Fragen -------------------------------------------- */
.question{
  background: burlywood;
  border: 2px solid #c09761;
  border-radius: 10px;
  margin: 0.5%;
  padding: 1%;
}
/* -------------------------------------------- CSS für Header -------------------------------------------- */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 98.9%;
  background: #ff8741;
  margin: 0px;
  padding: 10px;
}
.header .links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* -------------------------------------------- CSS für Eingabeelemente -------------------------------------------- */
select {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=datetime-local] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=number] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=text] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=email] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=password] {
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #ff8741;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button {
  background-color: #ff8741;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #ff9050;
}
input[type=submit]:hover {
  background-color: #ff9050;
}
.button {
  background-color: #ff8741;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #ff9050;
}
/* -------------------------------------------- CSS für Icons -------------------------------------------- */
.fa-check-circle {
  color: #3ca53c;
}
.fa-times-circle {
  color: #af3737;
}
/* -------------------------------------------- CSS für Accountsystem -------------------------------------------- */
.accountbox{
  background: burlywood;
  border: 2px solid #c09761;
  border-radius: 10px;
  height: 70%;
  width: 80%;
}
.accountmanagement{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.accountmenu{
  background: #c48e48;
  height: 100%;
  width: 20%;
  border: 2px solid #c09761;
  border-radius: 10px;
}
.accountmenuitem{
  font-size: 2em;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}
.accountmenuitem a{
  text-decoration: none;
}
.accountmenuitem#selected{
  font-size: 2em;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
  border: 2px solid #e7b97c;
  border-radius: 10px;
  background: #ffffff3d
}
#myquizzes{
  border-collapse: collapse;
  font-size: 1.4em;
  width: 100%;
}
#myquizzes tr{
  border: 1px solid black;
}
#notifications{
  border-collapse: collapse;
  font-size: 1.4em;
  width: 100%;
}
#notifications tr{
  border: 1px solid black;
}