/* -------------------------------------------- Allgemeines CSS -------------------------------------------- */
body{
    font-family: Arial;
    background: #aa5959;
  }
  /* -------------------------------------------- CSS für Fragen -------------------------------------------- */
  .question{
    background: rgb(202, 99, 99);
    border: 2px solid #8b2323;
    border-radius: 10px;
  }
  /* -------------------------------------------- CSS für Eingabeelemente -------------------------------------------- */

  input[type=submit] {
    background-color: #c72828;
    color: white;
  }
  
  input[type=submit]:hover {
    background-color: #cc3838;
  }
